---
import Layout from "../../layouts/Layout.astro";

import { Query } from "appwrite";

import { databases } from "../../lib/appwriter";

const { postSlug } = Astro.params;

if (!postSlug) {
  return Astro.redirect("/");
}

const { documents } = await databases.listDocuments(
  "66454d410036db55430c",
  "66454d72000dd1e4a6ba",
  [Query.equal("slug", postSlug)]
);

if (!documents.length) {
  return Astro.redirect("/404");
}

const post = documents[0];
const publishedDate = new Date(post.$createdAt);
---

<Layout title=`${post.title} - ProgresoRP Blog` description={post.excerpt}>
  <article class="w-full">
    <h1 class="text-5xl text-white font-pricedown uppercase mb-1">{post.title}</h1>
    <p class="text-slate-500 mb-16">
      <time datetime={publishedDate.toISOString()}
        >Artículo publicado - {publishedDate.toLocaleDateString()}</time
      >
    </p>
    <div
      class="-mt-5 min-w-[100%] text-white
        prose
        prose-sm
        md:prose-base
        dark:prose-invert
        prose-h1:font-bold prose-h1:text-2xl md:prose-h1:text-5xl prose-h1:-mt-8 prose-h1:mb-8
        prose-h2:font-bold prose-h2:text-xl md:prose-h2:text-4xl prose-h2:mt-14 prose-h2:mb-2
        prose-h3:font-bold prose-h3:text-lg md:prose-h3:text-3xl prose-h3:mb-2
        prose-h4:font-bold prose-h4:text-base md:prose-h4:text-2xl prose-h4:mb-2
        prose-p:text-pretty prose-p:text-sm md:prose-p:text-base
        prose-strong:text-sm md:prose-strong:text-base
        prose-em:text-sm md:prose-em:text-base
        prose-a:bg-gray-100
        prose-a:dark:bg-[#24292E]
        prose-a:dark:text-gray-300
        prose-a:font-medium
        prose-a:me-2
        prose-a:opacity-90
        prose-a:px-2
        prose-a:py-0.5
        prose-a:rounded
        prose-a:text-gray-800
        prose-a:text-xs
        prose-a:no-underline
        prose-a:italic
        prose-ul:text-sm md:prose-ul:text-base
        prose-ol:text-sm md:prose-ol:text-base
        prose-li:text-sm md:prose-li:text-base
        prose-code:text-sm md:prose-code:text-base
        md:prose-blockquote:text-base
        prose-blockquote:bg-[#898a7e50]
        prose-blockquote:border-amber-200
        prose-blockquote:border-l-1
        prose-blockquote:px-4
        prose-blockquote:py-[1px]
        prose-blockquote:rounded-md
        prose-blockquote:shadow-xl
        prose-blockquote:text-amber-200
        prose-blockquote:text-sm"
    >
      <Fragment set:html={post.content} />
    </div>
  </article>
</Layout>
