---
import "add-to-calendar-button";

const { title, contenido, fechaini, fechafin, location, timeini, timefin } =
  Astro.props;
---

<button>
  <add-to-calendar-button
    name={title}
    description={contenido}
    startDate={fechaini}
    startTime={timeini}
    endDate={fechafin}
    endTime={timefin}
    timeZone="Europe/Madrid"
    location={location}
    options="'Apple','Google'"
    buttonsList
    size="1"
    label="Añadir al Calendario"
    lightMode="dark"
    language="es"></add-to-calendar-button>
</button>

<script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2" async defer></script>