---
import { databases } from "../../lib/appwriter";

const { documents: antiguosEventos } = await databases.listDocuments(
  "66454d410036db55430c",
  "664e843e003297787934"
);
---

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 gap-y-8 w-full">
  {
    antiguosEventos.reverse().slice(1).map((antEvento) => {
      const fechaini = new Date(antEvento.fechaini);
      const fechaFormateadaINI = fechaini.toLocaleDateString("es-ES", {
        weekday: "short",
        day: "numeric",
        month: "long",
        year: "numeric",
        hour: "numeric",
        minute: "numeric",
      });
      return (
        <article>
          <header class="relative">
            <img
              src={antEvento.imageevent}
              alt={antEvento.title}
              class="rounded-md shadow-xl aspect-video object-cover"
            />
            <p class="backdrop-blur-md bg-black/20 p-0.5 px-1 rounded-t-md md:rounded-md text-[10px] w-full md:w-auto md:text-xs uppercase text-gray-100/75 absolute top-0 md:top-0.5 md:left-1/2 transform md:-translate-x-1/2">
              {fechaFormateadaINI}
            </p>
          </header>
          <div>
            <h1 class="text-lg md:text-2xl font-pricedown uppercase">{antEvento.title}</h1>
            <div class="line-clamp-3 text-xs text-slate-500/75"><Fragment set:html={antEvento.contenido} /></div>
          </div>
        </article>
      );
    })
  }
</div>
