---
import TextSection from "../components/TextSection.astro";
import Layout from "../layouts/Layout.astro";

import { databases } from "../lib/appwriter";

const { documents: posts } = await databases.listDocuments(
  "66454d410036db55430c",
  "6646440e002c2d76fb23"
);
---

<Layout
  title="Blog - ProgresoRP Servidor"
  description="Explora nuestros últimos postes y novedades más recientes en nuestro blog. Mantente al día con los emocionantes cambios y mejoras que hemos implementado para ofrecerte la mejor experiencia de juego. Desde nuevas funciones hasta ajustes en el rendimiento, aquí encontrarás todo lo que necesitas saber para estar a la vanguardia en nuestro servidor. ¡No te pierdas ninguna actualización importante y únete a la acción en ProgresoRP hoy mismo!"
>
  <TextSection
    text="Blog - ProgresoRP"
    subtext="Descubre nuestras nuevas novedades en nuestro blog. Mantente al día con los emocionantes cambios y mejoras que hemos implementado para ofrecerte la mejor experiencia de juego. Desde nuevas funciones hasta ajustes en el rendimiento, aquí encontrarás todo lo que necesitas saber para estar a la vanguardia en nuestro servidor. ¡No te pierdas ninguna actualización importante y únete a la acción en ProgresoRP hoy mismo!"
  />
  <hr
    class="mt-2 mb-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"
  />

  <section>
    <ul class="grid grid-cols-1 md:gap-8 md:grid-cols-2">
      {
        posts.reverse().map((post) => {
          const fecha = new Date(post.$createdAt);
          const fechaFormateada = fecha.toLocaleDateString("es-ES", {
            weekday: "long",
            year: "numeric",
            month: "long",
            day: "numeric",
          });
          return (
            <li class="">
              <a class="" href={`/posts/${post.slug}`}>
                <p class="text-gray-100/75 text-xs mb-1 md:text-xs capitalize-first">
                  {fechaFormateada}
                </p>
                <div class="wrapper">
                  <img
                    src={post.imagepost}
                    class="w-full aspect-video h-auto object-cover rounded-md ticket"
                    alt="imagen-post"
                    loading="lazy"
                  />
                </div>
                <div>
                  <h1 class="capitalize-first font-pricedown text-3xl uppercase mt-2">
                    {post.title}
                  </h1>
                  <p class="text-gray-100/75 mb-8 md:mb-2 text-xs md:text-base capitalize-first">
                    {post.excerpt}
                  </p>
                </div>
              </a>
            </li>
          );
        })
      }
    </ul>
  </section>
</Layout>

<style>
  .capitalize-first::first-letter {
    text-transform: uppercase;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transform: perspective(800px);
    transform-style: preserve-3d;
  }

  .ticket {
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.4);
    position: relative;
  }

  .bg {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    inset: 0;
    z-index: -20;
    filter: blur(20px);
    width: 100%;
    height: 100%;
  }
</style>

<script>
  const tickets = document.getElementsByClassName("ticket");

  Array.from(tickets).forEach((ticket) => {
    const ticketElement = ticket as HTMLElement;

    ticketElement.addEventListener("mousemove", (event) => {
      ticketElement.style.transition = "transform .03s ease-in-out";

      const { offsetX, offsetY } = event as MouseEvent;

      const { width, height } = ticketElement.getBoundingClientRect();
      const halfWidth = width / 2;
      const halfHeight = height / 2;

      const rotationX = ((halfHeight - offsetY) / halfHeight) * 3;
      const rotationY = ((offsetX - halfWidth) / halfWidth) * 3;

      ticketElement.style.transform = `rotateX(${rotationX}deg) rotateY(${rotationY}deg)`;
    });

    ticketElement.addEventListener("mouseleave", () => {
      ticketElement.style.transition = `transform 1s ease-in-out`;
      ticketElement.style.transform = `rotateX(0deg) rotateY(0deg)`;
    });
  });
</script>
